.tariff-list {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  padding: 30px 50px;
}

.tariff-card {
  padding: 20px;
  border-radius: 8px;
  color: white;
  width: 20%;
  border: 15px solid rgb(71, 68, 68);
}

.tariff-card:hover {
  cursor: pointer;
}

.tariff-card:nth-child(1) {
  background-color: #4caf50; /* Зеленый */
}

.tariff-card:nth-child(2) {
  background-color: #ff9800; /* Оранжевый */
}

.tariff-card:nth-child(3) {
  background-color: #2196f3; /* Синий */
}

.tariff-card:nth-child(4) {
  background-color: #9c27b0; /* Фиолетовый */
}

.highlighted {
  border: 15px solid rgb(223, 12, 51); /* Выделение тарифа с ценой 550р */
  padding: 20px;
  border-radius: 8px;
  color: white;
}

.tariff-card:hover {
  background-color: rgb(83, 81, 81);
}
